/* line 20, ../sass/style.css.scss */
html, body {
  min-height: 100%;
  height: 100%;
}

/* line 25, ../sass/style.css.scss */
body {
  background-color: #eeeeee;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

/* line 31, ../sass/style.css.scss */
.wrapper {
  min-height: 100%;
  height: auto !important;
  margin: 0 auto -150px;
}
/* line 37, ../sass/style.css.scss */
.wrapper > main {
  padding-bottom: 190px;
}

/* line 43, ../sass/style.css.scss */
h1 small, h2 small, h3 small {
  text-shadow: none;
}

/* line 48, ../sass/style.css.scss */
h1, h2 {
  margin-top: 60px;
}

/* line 52, ../sass/style.css.scss */
h6 {
  margin-top: 35px;
  font-weight: bold;
  text-transform: uppercase;
}

/* line 59, ../sass/style.css.scss */
.page-header {
  border-bottom: 1px solid #a85b76;
}

/* line 63, ../sass/style.css.scss */
header {
  height: 250px;
  background-color: #2e2e2e;
}

/* line 69, ../sass/style.css.scss */
nav {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  -webkit-box-shadow: 0 0 10px black;
  -moz-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
  font-size: 17px;
}

/* line 81, ../sass/style.css.scss */
footer {
  min-height: 150px;
  padding-top: 35px;
  color: #ffffff;
  background-color: #671a35;
}
/* line 89, ../sass/style.css.scss */
footer img {
  transition: box-shadow .5s;
}
/* line 93, ../sass/style.css.scss */
footer img:hover {
  -webkit-box-shadow: 0 0 10px black;
  -moz-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
}
/* line 99, ../sass/style.css.scss */
footer a {
  color: #2ebdff;
}
/* line 102, ../sass/style.css.scss */
footer a:hover {
  color: #ffffff;
}

/* line 108, ../sass/style.css.scss */
a {
  color: #671a35;
  transition: color .5s;
}
/* line 112, ../sass/style.css.scss */
a:hover {
  color: #a85b76 !important;
  text-decoration: none;
}

/* line 118, ../sass/style.css.scss */
div#carousel-feat {
  height: 320px;
  margin-bottom: 25px;
}

/* line 125, ../sass/style.css.scss */
.carousel .jumbotron {
  text-align: center;
}

/* line 130, ../sass/style.css.scss */
.carousel-control {
  background-image: none !important;
  filter: none !important;
  width: inherit;
  color: #671a35;
  opacity: 1;
}

/* line 139, ../sass/style.css.scss */
.carousel-indicators li {
  border-color: #1e4154;
}

/* line 143, ../sass/style.css.scss */
.carousel-indicators .active {
  background-color: #1e4154;
}

/* line 147, ../sass/style.css.scss */
.front-page {
  line-height: 1.4em;
  font-size: 17px;
}

/* line 153, ../sass/style.css.scss */
#sidebar .affix {
  position: static;
  top: 21px;
}
@media (min-width: 992px) {
  /* line 159, ../sass/style.css.scss */
  #sidebar .affix, #sidebar .affix-bottom {
    position: fixed;
    width: 213px;
  }
}
@media (min-width: 1200px) {
  /* line 166, ../sass/style.css.scss */
  #sidebar .affix, #sidebar .affix-bottom {
    position: fixed;
    width: 263px;
  }
}
/* line 172, ../sass/style.css.scss */
#sidebar > .nav {
  background-color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 7px 0;
}
/* line 181, ../sass/style.css.scss */
#sidebar > .nav .active .nav {
  display: block;
}
/* line 185, ../sass/style.css.scss */
#sidebar > .nav .active > a {
  color: #a85b76;
  border-left: 2px solid #1e4154;
  border-right: 2px solid #1e4154;
  padding-left: 13px;
}
/* line 194, ../sass/style.css.scss */
#sidebar > .nav .active .active a {
  padding-left: 30px;
}
/* line 199, ../sass/style.css.scss */
#sidebar > .nav .nav {
  display: none;
}
/* line 202, ../sass/style.css.scss */
#sidebar > .nav .nav a {
  padding-left: 32px;
}

/* line 209, ../sass/style.css.scss */
.command {
  background-color: #f4f8fa;
}
/* line 217, ../sass/style.css.scss */
.command .command-name {
  border: 1px solid #bce8f1;
  padding: 12px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0;
}
/* line 224, ../sass/style.css.scss */
.command .command-name:before {
  content: '/';
}
/* line 229, ../sass/style.css.scss */
.command .command-description {
  border: 1px solid #bce8f1;
  padding: 12px;
}
/* line 233, ../sass/style.css.scss */
.command .command-misc {
  border: 1px solid #bce8f1;
  padding: 12px;
}
/* line 236, ../sass/style.css.scss */
.command .command-misc .aliases, .command .command-misc .permissions {
  list-style: none;
  padding-left: 20px;
}
/* line 240, ../sass/style.css.scss */
.command .command-misc .aliases > li:before, .command .command-misc .permissions > li:before {
  content: '/';
}
/* line 244, ../sass/style.css.scss */
.command .command-misc .aliases > li, .command .command-misc .permissions > li {
  margin-left: 100px;
}
/* line 248, ../sass/style.css.scss */
.command .command-misc .aliases:before, .command .command-misc .permissions:before {
  width: 80px;
  content: 'Aliases';
  float: left;
  text-align: right;
  font-weight: bold;
}
/* line 260, ../sass/style.css.scss */
.command .command-misc .permissions > li:before {
  content: '';
}
/* line 264, ../sass/style.css.scss */
.command .command-misc .permissions:before {
  content: 'Permissions';
}
/* line 270, ../sass/style.css.scss */
.command .command-arguments {
  border: 1px solid #bce8f1;
  padding: 12px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 276, ../sass/style.css.scss */
.command .command-arguments tbody tr > td:nth-child(2) {
  text-transform: uppercase;
}
/* line 282, ../sass/style.css.scss */
.command .command-arguments > table > tbody > tr > td:nth-child(0) {
  white-space: nowrap;
}
/* line 287, ../sass/style.css.scss */
.command code {
  background-color: inherit;
  color: #a85b76;
}

/* line 293, ../sass/style.css.scss */
.post {
  margin-bottom: 150px;
}
/* line 296, ../sass/style.css.scss */
.post > h1 > small {
  float: right;
  margin-top: 15px;
}
